body {
	color: #2E2E2E;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #FAFAFA;
}

.nav, .main {
	padding-top: 2em;
}


.active, a:hover, a:focus {
	background-color: #EEE6F3;
	color: #2E2E2E;
	border-radius: 0;
}

.top {
	top: 0;
	padding: 0em 5em 0em 5em;
	float:left;
}	

a {
	color: #2E2E2E;
}

h1{
  color: #2E2E2E;
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: #2E2E2E;
  font-family: 'Raleway', sans-serif;
}

h3{
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
  font-size: 97%;
}

h4{
  	font-family: 'Montserrat', sans-serif;
	color: #2E2E2E;
	  font-size: 97%;
	  font-weight: 500;
}
h5 {
  	font-family: 'Raleway', sans-serif;
  	color: #2E2E2E ;
  	line-height: 1.5em;
  	font-weight: 400;
/*  	font-style: italic;
*/}

h6 { 

	/*padding-top: .6em;*/
  font-family: 'Raleway', sans-serif;
  color: #2A0244;
  letter-spacing: .2em;
/*  text-transform: lowercase;
*/}

hr {
	height:1px;
	background-color:#2E2E2E;
}
p {
	margin-bottom: 3em;
}

nav {
	margin-top: 5%;
}
a:visited, a:focus {
	background-color: none;
}

@media only screen and (max-width: 996px) {
.top, .affix {
	position: relative;
}
.top {
	width: 100%;
	float:left;
	text-align: center;
}
.flex-column {
	display: none;
}
.main {
	width: 100%;
	float:left;
	padding-left: 5%;
}
}

